/* .container{
    margin:10%;
} */
body{
    margin:0;
    
}

.navbar{
    position: fixed;
    text-align: center;
    background:transparent;
    display:flex;
    justify-content: center;
    width: 100%;
    font-size:16px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px whitesmoke;
    font-family: 'Do Hyeon', sans-serif;
}

.navbar > a {
    text-decoration: none;
    margin:5px;
    width:150px;
    font-weight:400;
    font-size:24px;
    color: #111111;
}

.navbar > a:hover {
    color:#FFFFFF;
    opacity:0.75;
}

.introduce-bold{
    font-size:30px;
    font-family: 'Nanum Gothic Coding', monospace;
}

.introduce-bold:hover{
    color:rgba(226, 7, 44, 0.918);
}
#portrait{
    margin-top:45px;
    width:300px;
    height:300px;
    border-radius: 250px;
}
#introduce{
    padding:5%;
    background-image:linear-gradient(to right,#80ccbe, cyan);
    color:#FFFFFF;
    font-size:24px;
    font-weight:700;
    font-family: 'Nanum Gothic', sans-serif;
}

#career{
    background-color:rgb(243, 239, 239);
    padding:5%;
    padding-left:10%;
    font-size:16px;
    font-family: 'Nanum Gothic', sans-serif;
}

.career-univ > li, .career-seoul > li, .career-codeeight > li{
    margin-left:5%;
    font-size: 20px;
    line-height: 35px;
}

#portpolio{
    padding:5%;
}

.image-row{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.portfolio_image{
    width:500px;
    height:400px;
}

#contact{
    padding:5% 5% 5% 15%;
    font-size:20px;
    font-weight:bold;
    line-height:35px;
}
/* @media screen and (min-width: 601px){
    .navbar{
        font-size:16px;
    }
    #introduce{
       font-size:24px;
    }
    .introduce-bold{
        font-size:30px;
    }
    #portrait{
        margin-top:45px;
        width:300px;
        height:300px;
        border-radius: 250px;
    }
    #career{
       background-color:rgb(243, 239, 239);
       padding:5%;
       padding-left:10%;
       font-size:12px;
       font-family: 'Nanum Gothic', sans-serif;
   }
   
   .career-univ > li, .career-seoul > li, .career-codeeight > li{
       margin-left:5%;
       font-size: 20px;
       line-height: 35px;
   }   
} */

@media screen and (max-width: 600px) {
    .navbar > a{
        font-size:16px;
    }
    .text{
        padding-top:35px;
    }
    #introduce{
        font-size:6px;
    }
    .introduce-bold{
        font-size:16px;
    }
    #portrait{
        display:none;
        margin-top:25px;
        width:150px;
        height:150px;
        border-radius: 250px;
    }
    #career{
        background-color:rgb(243, 239, 239);
        padding:2%;
        font-size:16px;
        font-family: 'Nanum Gothic', sans-serif;
    }

    .career-univ > li, .career-seoul > li, .career-codeeight > li{
        padding-left:3%;
        font-size: 10px;
        line-height: 15px;
    }
    #portpolio{
        padding:2%;
    }
    .image-row{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
    }
    .portfolio_image{
        width:400px;
        height:auto;
    }
    
}