/* .container{
    margin:10%;
} */
body{
    margin:0;
}

.navbar{
    position: fixed;
    text-align: center;
    background:transparent;
    display:flex;
    justify-content: center;
    width: 100%;
    font-size:16px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px whitesmoke;
}

.navbar > a {
    text-decoration: none;
    margin:5px;
    width:150px;
    font-weight:400;
    font-size:24px;
    color: #111111;
}

.navbar > a:hover {
    color:#FFFFFF;
    opacity:0.75;
}

.introduce-bold{
    font-size:30px;
    color:crimson;
}

#introduce{
    padding:5%;
    background-color:#80ccbe;
    color:#FFFFFF;
    font-size:24px;
    font-weight:700;
}

#career{
    background-color:rgb(243, 239, 239);
    padding:5%;
    padding-left:10%;
    font-size:16px;
}

.career-univ > li, .career-seoul > li, .career-codeeight > li{
    margin-left:5%;
    font-size: 20px;
    line-height: 35px;
}

#portpolio{
    padding:5%;
}

.image-row{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

#contact{
    padding:5% 5% 5% 15%;
    font-size:20px;
    font-weight:bold;
    line-height:35px;
}